input:focus-visible {
    outline: transparent auto 0px;
}

#ipAddress {
    width: 400px;
    border-radius: $border-radius;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;



    @include media-breakpoint-down(sm) {
        width: 350px;
    }

    @media (max-width: 320px) {
        width: 230px;
    }

}