// IP Address Tracker

.search-ip-section {
    height: $search-section-height;

    .ip-backgound {
        background-image: url(../../images/pattern-bg.png);
        background-size: cover;
    }
}

.location-details-container {
    position: relative;
    margin-top: -80px;
    z-index: 999;
    height: 150px;
    padding: 24px 150px;

    @include media-breakpoint-down(xl) {
        padding: 24px 400px;
    }

    @include media-breakpoint-down(lg) {
        padding: 24px 200px;
    }

    @include media-breakpoint-down(md) {
        padding: 24px 120px;
    }

    @include media-breakpoint-down(sm) {
        padding: 24px 40px;
        margin-top: -130px;
    }



    .location-data-col {
        padding: 1.5rem 2.25rem;
    }

    .col-data {
        border-right: 1px solid $secondary;
        text-align: left;

        &:last-child {
            border-right: none;
        }

        @include media-breakpoint-down(lg) {
            border-right: none;
            text-align: center;
        }
    }

    .location-details-heading {
        letter-spacing: 2px;
        font-size: 0.875rem;
    }

    .location-data {
        font-size: 1.5rem;
        font-weight: 600;
    }
}