// IP Address Tracker

.search-ip-section {
    height: $search-section-height;

    .ip-backgound {
        background-image: url("~/src/assets/images/pattern-bg.png");
        background-size: cover;
    }
}

.location-details-container {
    margin-top: -80px;
    z-index: 999;
    height: 150px;

    @include media-breakpoint-down(sm) {
        margin-top: -130px;
    }


    .col-data {
        padding: 1.5rem 1rem 1.5rem 2rem;
        border-right: 1px solid $secondary;
        text-align: left;

        &:last-child {
            border-right: none;
        }

        @include media-breakpoint-down(md) {
            padding: 1.25rem 0;
            border-right: none;
            text-align: center;
        }

    }

    .location-details-heading {
        letter-spacing: 2px;
        font-size: 0.775rem;

        @include media-breakpoint-down(lg) {
            font-size: 0.675rem;
        }

        @include media-breakpoint-down(md) {
            letter-spacing: 1px;
        }
    }

    .location-data {
        font-size: 1.5rem;
        font-weight: 600;

        @include media-breakpoint-down(lg) {
            font-size: 1rem;
        }
    }
}